
{% extends "layout.phtml" %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">Discounts <a href="{{offersCreate}}" class="pull-right"><span class="fa fa-plus"></span></a></div>

    <div class="panel-body">

        {% if messages.success %}
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ messages.success }}
        </div>
        {% endif %}

        {% if messages.error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ messages.error }}
        </div>
        {% endif %}

        <div class="panel-group">
          <div class="row">
            <div class="col-md-9 col-md-offset-3">
              <form class="navbar-form navbar-left" role="search" method="post" action="{{offersSearch}}">
                <div class="form-group">
                  <label for="field" class="control-label">Field</label>&nbsp;
                  <select id="field" name="field" class="form-control" autofocus>
                    <option value="title">Title</option>
                    <option value="business_name">Business name</option>
                    <option value="type">Offer type</option>
                    <option value="status">Status</option>
                    <option value="offer_level">Offer level</option>
                    <option value="redemption_option">Redemption option</option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="search-term" placeholder="Keyword">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
              </form>
            </div>
          </div>
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            {% if offers is empty %}
              <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                No offers found.
              </div>
            {% endif %}
            {% for offer in offers %}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading{{ offer.id }}">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ offer.id }}" aria-expanded="false" aria-controls="collapse{{ offer.id }}">
                        {{ offer.title }} {% if offer.offer_level is same as("Premium") %} <span class="fa fa-star"></span> {% endif %}
                      </a>
                      <a href="{{ offersEdit ~ offer.id }}" class="pull-right" title="Edit offer"><span class="fa fa-edit"></span></a>
                    </h4>
                  </div>
                  <div id="collapse{{ offer.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ offer.id }}">
                    <div class="panel-body">
                      <div class="col-md-6">
                          <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge pull-left">Title</span>&nbsp;
                                {{ offer.title }}
                            </li>
                            <li class="list-group-item">
                                <span class="badge pull-left">Business name</span>&nbsp;
                                {{ offer.business_name }}
                            </li>
                            <li class="list-group-item">
                                <span class="badge pull-left">Address</span>&nbsp;
                                {{ offer.address }}
                            </li>
                            <li class="list-group-item">
                                <span class="badge pull-left">Offer type</span>&nbsp;
                                {{ offer.type }}
                            </li>
                            <li class="list-group-item">
                                <span class="badge pull-left">Offer Level</span>&nbsp;
                                {{ offer.offer_level }}
                            </li>
                            <li class="list-group-item">
                                <span class="badge pull-left">Offer status</span>&nbsp;
                                {{ offer.status }}
                            </li>
                            <li class="list-group-item">
                                <span class="badge pull-left">Redemption option</span>&nbsp;
                                {{ offer.redemption_option }}
                            </li>
                            <li class="list-group-item">
                                <span class="badge pull-left">Start Date</span>&nbsp;
                                {{ offer.starts_at|date('jS, F, Y') }}
                            </li>
                            <li class="list-group-item">
                                <span class="badge pull-left">End Date</span>&nbsp;
                                {{ offer.stops_at|date('jS, F, Y') }}
                            </li>
                          </ul>
                      </div>
                      {% if offer.photo|trim %}
                      <div class="col-md-6">
                        <img class="thumbnail" src="{{offer.photo}}" width="300px">
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
            {% endfor %}
        </div>
        <nav aria-label="...">
          <ul class="pager">
            {% if start <= 0 %}
                <li class="previous disabled"><a class="btn disabled" href="offers?start={{ start }}" disabled='true'><span aria-hidden="true">&larr;</span> Closer</a></li>
                {% if start + 5 < count %}
                    <li class="next"><a href="offers?start={{ start + 5 }}">Farther <span aria-hidden="true">&rarr;</span></a></li>
                {% else %}
                    <li class="next disabled"><a class="btn disabled" href="offers?start={{ start + 5 }}">Farther <span aria-hidden="true">&rarr;</span></a></li>
                {% endif %}
            {% else %}
                <li class="previous"><a href="offers?start={{ start - 5 }}"><span aria-hidden="true">&larr;</span> Closer</a></li>
                {% if start + 5 < count %}
                    <li class="next"><a href="offers?start={{ start + 5 }}">Farther <span aria-hidden="true">&rarr;</span></a></li>
                {% else %}
                    <li class="next disabled"><a class="btn disabled" href="offers?start={{ start + 5 }}">Farther <span aria-hidden="true">&rarr;</span></a></li>
                {% endif %}
            {% endif %}
          </ul>
        </nav>
                           
    </div>
</div>
{% endblock %}