{% extends "layout.phtml" %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">Discount Form</div>

    <div class="panel-body">

        {% if messages.success %}
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ messages.success }}
        </div>
        {% endif %}

        {% if messages.error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ messages.error }}
        </div>
        {% endif %}

        <form id="create-offer-form" class="form-horizontal" method="post" action="{{ action }}" enctype="multipart/form-data">

            <div class="form-group">
                <label for="state-id" class="col-md-4 control-label">Offer level</label>

                <div class="col-md-6">
                    <select id="offer-level" name="offer-level" class="form-control">
                        <option value="regular" {% if offer.offer_level is same as("Regular") %} selected='true' {% endif %}>
                            Regular
                        </option>
                        <option value="premium" {% if offer.offer_level is same as("Premium") %} selected='true' {% endif %}>
                            Premium
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-md-4 control-label">Title</label>

                <div class="col-md-6">
                    <input id="title" type="text" class="form-control" name="title" value="{{ offer.title }}" required autofocus>
                </div>
            </div>

            <div class="form-group">
                <label for="business-name" class="col-md-4 control-label">Business name</label>

                <div class="col-md-6">
                    <input id="business-name" type="text" class="form-control" name="business-name" value="{{ offer.business_name }}" required>
                </div>
            </div>

            <div class="form-group">
                <label for="street" class="col-md-4 control-label">Address</label>

                <div class="col-md-6">
                    <input id="street" type="text" class="form-control" name="address" value="{{ offer.address }}" required>
                </div>
            </div>

            <div class="form-group">
                <label for="details" class="col-md-4 control-label">Details</label>

                <div class="col-md-6">
                    <input id="details" type="text" class="form-control" name="details" value="{{ offer.details }}" required>
                </div>
            </div>

            <div class="form-group">
                <label for="start-date" class="col-md-4 control-label">Start date</label>

                <div class="col-md-6">
                    <input id="start-date" type="date" class="form-control" name="start-date" min="{{ today }}" value="{{ offer.starts_at }}" required>
                </div>
            </div>

            <div class="form-group">
                <label for="stops_at" class="col-md-4 control-label">Stop date</label>

                <div class="col-md-6">
                    <input id="stop-date" type="date" class="form-control" name="stop-date" min="{{ today }}" value="{{ offer.stops_at }}" required>
                </div>
            </div>

            <div class="form-group">
                <label for="type" class="col-md-4 control-label">Offer type</label>

                <div class="col-md-6">
                    <select id="type" name="type" class="form-control">
                        <option value="one_off" {% if offer.type is same as("one_off") %} selected='true' {% endif %}>
                            One-off
                        </option>
                        <option value="multiple" {% if offer.type is same as("multiple") %} selected='true' {% endif %}>
                            Multiple
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="status" class="col-md-4 control-label">Status</label>

                <div class="col-md-6">
                    <select id="status" name="status" class="form-control">
                        <option value="active" {% if offer.status is same as("Active") %} selected='true' {% endif %}>
                            Active
                        </option>
                        <option value="inactive" {% if offer.status is same as("Inactive") %} selected='true' {% endif %}>
                            In-active
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="redemption-option" class="col-md-4 control-label">Redemption option</label>

                <div class="col-md-6">
                    <select id="redemption-option" name="redemption-option" class="form-control">
                        <option value="QR" {% if offer.redemption_option is same as("QR") %} selected='true' {% endif %}>
                            QR Code
                        </option>
                        <option value="CARD" {% if offer.redemption_option is same as("CARD") %} selected='true' {% endif %}>
                            Membership Card
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="photo" class="col-md-4 control-label">Photo</label>

                {% if offer.photo == '' %}
                    <div class="col-md-6">
                        <input id="photo" type="file" class="form-control" name="photo">
                    </div>
                {% else %}
                    <div class="col-md-3">
                        <input id="photo" type="file" class="form-control" name="photo">
                    </div>
                    <div class="col-md-3">
                      <span class="thumbnail">
                          <img src="{{ offer.photo }}">
                      </span>
                    </div>
                {% endif %}
            </div>

            {% if form == 'edit' %}
                <input type="hidden" name="_METHOD" value="PUT"/>
            {% endif %}

            <div class="form-group">
                <div class="col-md-6 col-md-offset-4">
                    <button type="submit" class="btn btn-default">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}