<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="favicon.ico" mce_href="favicon.ico">
    <title>API &middot; Play Network Africa</title>
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <style>
        body {
            margin: 50px 0 0 0;
            padding: 0;
            width: 100%;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-align: center;
            color: #aaa;
            font-size: 18px;
        }

        h1 {
            color: #719e40;
            letter-spacing: -3px;
            font-family: 'Lato', sans-serif;
            font-size: 100px;
            font-weight: 200;
            margin-bottom: 0;
        }
    </style>
</head>

<body>
    <h1>Play Network Africa</h1>
    <div>API Services</div>

    <?php if (isset($name)) : ?>
    <h2>Hello
        <?= htmlspecialchars($name); ?>!</h2>
    <?php else: ?>
    <p style="margin-top:10%;">Built by</p>
    <p>
        <a href="https://intellectualapps.com" target="_black">
            <img src="intellectual-apps-logo.png" width="300px" />
        </a>
    </p>
    <?php endif; ?>
</body>

</html>