<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, minimum-scale=1.0" name="viewport"/>
        <title>
            PNN Daily | Play Network Nigeria
        </title>
        <link href="http://www.playnetworknigeria.com/styles/main.css" rel="stylesheet" type="text/css">
            <link href="http://www.playnetworknigeria.com/styles/style.css" rel="stylesheet" type="text/css">
            </link>
        </link>
    </head>
    <body>
        <div id="col-main">
            <div id="col-info">
                <div padding="2%">
                    <div style="color:#999;font-size:11px;padding-bottom:1%;border-bottom:1px solid #ddd;">
                        <span style="color:#333;text-transform:uppercase">
                            {{ posted }}
                        </span>
                    </div>
                    <div>
                        {{ post|raw }}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>