{% extends "layout.phtml" %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">Event Form</div>

    <div class="panel-body">

        {% if messages.success %}
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ messages.success }}
        </div>
        {% endif %}

        {% if messages.error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ messages.error }}
        </div>
        {% endif %}

        <form id="create-event-form" class="form-horizontal" method="post" action="{{ action }}" enctype="multipart/form-data">

            <div class="form-group">
                <label for="state-id" class="col-md-4 control-label">Event type</label>

                <div class="col-md-6">
                    <select id="event-type" name="event-type" class="form-control">
                        <option value="regular" {% if event.event_type is same as("regular") %} selected='true' {% endif %}>
                            Regular
                        </option>
                        <option value="premium" {% if event.event_type is same as("premium") %} selected='true' {% endif %}>
                            Premium
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-md-4 control-label">Title</label>

                <div class="col-md-6">
                    <input id="title" type="text" class="form-control" name="title" value="{{ event.title }}" required autofocus>
                    
                </div>
            </div>

            <div class="form-group">
                <label for="venue" class="col-md-4 control-label">Venue</label>

                <div class="col-md-6">
                    <input id="venue" type="text" class="form-control" name="venue" value="{{ event.venue }}" required>
                    
                </div>
            </div>

            <div class="form-group">
                <label for="street-number" class="col-md-4 control-label">Street Number</label>

                <div class="col-md-6">
                    <input id="street-number" type="number" min="1" class="form-control" name="street-number" value="{{ event.street_number }}" required>
                    
                </div>
            </div>

            <div class="form-group">
                <label for="street" class="col-md-4 control-label">Street</label>

                <div class="col-md-6">
                    <input id="street" type="text" class="form-control" name="street" value="{{ event.street }}" required>
                    
                </div>
            </div>

            <div class="form-group">
                <label for="location" class="col-md-4 control-label">Location</label>

                <div class="col-md-6">
                    <input id="location" type="text" class="form-control" name="location" value="{{ event.location }}" required>
                    
                </div>
            </div>

            <div class="form-group">
                <label for="state-id" class="col-md-4 control-label">State</label>

                <div class="col-md-6">
                    <select id="state-id" name="state-id" class="form-control">
                        {% for state in states %}
                            <option value="{{state.id}}" {% if event.state_id is same as(state.id) %} selected='true' {% endif %}>
                                {{ state.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="date" class="col-md-4 control-label">Date</label>

                <div class="col-md-6">
                    <input id="date" type="date" class="form-control" name="date" min="{{ today }}" value="{{ event.date }}" required>
                    
                </div>
            </div>

            <div class="form-group">
                <label for="time" class="col-md-4 control-label">Time</label>

                <div class="col-md-6">
                    <input id="time" type="time" class="form-control" name="time" value="{{ event.time }}" required>
                </div>
            </div>

            <div class="form-group">
                <label for="organizer" class="col-md-4 control-label">Organizer</label>

                <div class="col-md-6">
                    <input id="organizer" type="text" class="form-control" name="organizer" value="{{ event.organizer }}" required>
                </div>
            </div>

            <div class="form-group">
                <label for="pic-url" class="col-md-4 control-label">Pic Url</label>

                {% if event.pic_url == '' %}
                    <div class="col-md-6">
                        <input id="pic-url" type="file" class="form-control" name="pic-url">
                    </div>
                {% else %}
                    <div class="col-md-3">
                        <input id="pic-url" type="file" class="form-control" name="pic-url">
                    </div>
                    <div class="col-md-3">
                      <span class="thumbnail">
                          <img src="{{ event.pic_url }}">
                      </span>
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="dress-code" class="col-md-4 control-label">Dress Code</label>

                <div class="col-md-6">
                    <input id="dress-code" type="text" class="form-control" name="dress-code" value="{{ event.dress_code }}">
                </div>
            </div>

            <div class="form-group">
                <label for="info" class="col-md-4 control-label">Info</label>

                <div class="col-md-6">
                    <input id="info" type="text" class="form-control" name="info" value="{{ event.info }}">
                </div>
            </div>

            <div class="form-group">
                <label for="regular-ticket" class="col-md-4 control-label">Regular Ticket</label>

                <div class="col-md-6">
                    <input id="regular-ticket" type="number" class="form-control" name="regular-ticket" value="{{ tickets.regular }}" min="0.00" step=".10" value="0.00">
                </div>
            </div>

            <div class="form-group">
                <label for="vip-ticket" class="col-md-4 control-label">VIP Ticket</label>

                <div class="col-md-6">
                    <input id="vip-ticket" type="number" class="form-control" name="vip-ticket" value="{{ tickets.vip }}" min="0.00" step=".10" value="0.00">
                </div>
            </div>

            <div class="form-group">
                <label for="regular-table-reservation" class="col-md-4 control-label">Regular Table Reservation</label>

                <div class="col-md-6">
                    <input id="regular-table-reservation" type="number" class="form-control" name="regular-table-reservation" value="{{ tables.regular }}" min="0.00" step=".10" value="0.00">
                </div>
            </div>

            <div class="form-group">
                <label for="vip-table-reservation" class="col-md-4 control-label">VIP Table Reservation</label>

                <div class="col-md-6">
                    <input id="vip-table-reservation" type="number" class="form-control" name="vip-table-reservation" value="{{ tables.vip }}" min="0.00" step=".10" value="0.00">
                </div>
            </div>

            <div class="form-group">
                <label for="posted-by" class="col-md-4 control-label">Posted By</label>

                <div class="col-md-6">
                    <input id="posted-by" type="text" class="form-control" name="posted-by" value="{{ event.posted_by }}" required>
                </div>
            </div>

            {% if form == 'edit' %}
                <input type="hidden" name="_METHOD" value="PUT"/>
            {% endif %}

            <div class="form-group">
                <div class="col-md-6 col-md-offset-4">
                    <button type="submit" class="btn btn-default">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}