
{% extends "layout.phtml" %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">Events <a href="{{eventsCreate}}" class="pull-right"><span class="fa fa-plus"></span></a></div>

    <div class="panel-body">

        {% if messages.success %}
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ messages.success }}
        </div>
        {% endif %}

        {% if messages.error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ messages.error }}
        </div>
        {% endif %}

        <div class="panel-group">
          <div class="row">
            <div class="col-md-9 col-md-offset-3">
              <form class="navbar-form navbar-left" role="search" method="post" action="{{eventsSearch}}">
                <div class="form-group">
                  <label for="field" class="control-label">Field</label>&nbsp;
                  <select id="field" name="field" class="form-control" autofocus>
                    <option value="title">Title</option>
                    <option value="venue">Venue</option>
                    <option value="street_number">Street number</option>
                    <option value="street">Street</option>
                    <option value="location">Location</option>
                    <option value="state">State</option>
                    <option value="date">Date</option>
                    <option value="time">Time</option>
                    <option value="organizer">Organizer</option>
                    <option value="dress_code">Dress code</option>
                    <option value="info">Info</option>
                    <option value="posted_by">Posted by</option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="search-term" placeholder="Keyword">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
              </form>
            </div>
          </div>
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            {% if events is empty %}
              <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                No events found.
              </div>
            {% endif %}
            {% for event in events %}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading{{ event.id }}">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ event.id }}" aria-expanded="false" aria-controls="collapse{{ event.id }}">
                        {{ event.title }} {% if event.event_type is same as("premium") %} <span class="fa fa-star"></span> {% endif %}
                      </a>
                      <a href="{{ eventsEdit ~ event.id }}" class="pull-right" title="Edit Event"><span class="fa fa-edit"></span></a>
                    </h4>
                  </div>
                  <div id="collapse{{ event.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ event.id }}">
                    <div class="panel-body">
                      <div class="col-md-6">
                          <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge pull-left">Title</span>&nbsp;
                                {{ event.title }}
                            </li>
                            <li class="list-group-item">
                                <span class="badge pull-left">Venue</span>&nbsp;
                                {{ event.venue }}
                            </li>
                            <li class="list-group-item">
                                <span class="badge pull-left">Address</span>&nbsp;
                                {{ event.street_number }}, {{ event.street }}, {{ event.location }}, {{ event.state.name }}
                            </li>
                            <li class="list-group-item">
                                <span class="badge pull-left">Date</span>&nbsp;
                                {{ event.date|date('jS, F, Y') }}
                            </li>
                            <li class="list-group-item">
                                <span class="badge pull-left">Time</span>&nbsp;
                                {{ event.time|date('h:i a') }}
                            </li>
                            <li class="list-group-item">
                                <span class="badge pull-left">Dress Code</span>&nbsp;
                                {{ event.dress_code }}
                            </li>
                            <li class="list-group-item">
                                <span class="badge pull-left">Info</span>&nbsp;
                                {{ event.info }}
                            </li>
                            <li class="list-group-item">
                                <span class="badge pull-left">Number of RSVPs</span>&nbsp;
                                {{ event.numberOfRSVPs }}&nbsp;
                                <a href="{{ eventsRSVP ~ event.id }}" class="pull-right" title="View Event RSVP"><span class="fa fa-book"></span></a>
                            </li>
                          </ul>
                      </div>
                      {% if event.pic_url|trim %}
                      <div class="col-md-6">
                        <img class="thumbnail" src="{{event.pic_url}}" width="300px" height="350px">
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
            {% endfor %}
        </div>
        <nav aria-label="...">
          <ul class="pager">
            {% if start <= 0 %}
                <li class="previous disabled"><a class="btn disabled" href="events?start={{ start }}" disabled='true'><span aria-hidden="true">&larr;</span> Closer</a></li>
                {% if start + 5 < count %}
                    <li class="next"><a href="events?start={{ start + 5 }}">Farther <span aria-hidden="true">&rarr;</span></a></li>
                {% else %}
                    <li class="next disabled"><a class="btn disabled" href="events?start={{ start + 5 }}">Farther <span aria-hidden="true">&rarr;</span></a></li>
                {% endif %}
            {% else %}
                <li class="previous"><a href="events?start={{ start - 5 }}"><span aria-hidden="true">&larr;</span> Closer</a></li>
                {% if start + 5 < count %}
                    <li class="next"><a href="events?start={{ start + 5 }}">Farther <span aria-hidden="true">&rarr;</span></a></li>
                {% else %}
                    <li class="next disabled"><a class="btn disabled" href="events?start={{ start + 5 }}">Farther <span aria-hidden="true">&rarr;</span></a></li>
                {% endif %}
            {% endif %}
          </ul>
        </nav>
                           
    </div>
</div>
{% endblock %}